{% extends "base.twig" %}

{% block content %}

  {% set template_subheading = (post.type.name == 'events') ? post.meta('event_date')|date('F j, Y | g:i a') : post.date|date("M d, Y") %}
  {% set template_heading = post.title %}
  {% set template_paragraph = fn('has_excerpt') ? fn('get_the_excerpt') : null %}

	<div class="post">
    {% if post.type.name == 'events' %}
      {% include 'section-nav.twig' with {
        menu: 'Events Menu'
      } %}
    {% else %}
      {% include 'section-nav.twig' with {
        menu: 'Colby Impact Menu'
      } %}
    {% endif %}
    {% include fn('get_theme_file_path', '/src/twig/components/full-bleed-hero/full-bleed-hero.twig') with {
      type: 'light',
      subheading: template_subheading,
      heading: template_heading,
      paragraph: template_paragraph,
      image: {
        sizes: {
          Hero: fn( 'get_the_post_thumbnail_url', post.ID, 'Hero' ),
          Rectangle: fn( 'get_the_post_thumbnail_url', post.ID, 'Rectangle' )
        },
        alt: post.thumbnail.alt,
        caption: post.thumbnail.caption
      }
    } %}
    <div
      class="post__inner mb-20 [&>.wysiwyg]:mt-16 [&>.wysiwyg]:grid md:[&>.wysiwyg]:grid-cols-12 [&>.wysiwyg]:gap-x-10 [&>.wysiwyg]:max-w-screen-2xl [&>.wysiwyg]:w-full [&>.wysiwyg]:px-5 [&>.wysiwyg]:my-0 [&>.wysiwyg]:mx-auto
      md:[&>.wysiwyg>.colby-paragraph-block]:col-span-8 md:[&>.wysiwyg>.colby-paragraph-block]:col-start-3
      md:[&>.wysiwyg>.wp-block-heading]:col-span-8 md:[&>.wysiwyg>.wp-block-heading]:col-start-3
      md:[&>.wysiwyg>.image-grid]:col-span-10 md:[&>.wysiwyg>.image-grid]:col-start-2
      md:[&>.wysiwyg>.block-quote]:col-span-10 md:[&>.wysiwyg>.block-quote]:col-start-2"
    >
      {% include 'wysiwyg.twig' with {
        post: { content: post.content },
      } %}
    </div>
    {% if not post.type.name == 'events' %}
      {% include fn('get_theme_file_path', '/src/twig/components/inset-widget/inset-widget.twig') with {
        size: 'medium',
        subheading: 'Submit a story',
        heading: 'Lorem ipsum dolor sit amet consectuer.',
        paragraph: 'Lorem ipsum dolor sit amet, consectetur adipi elit. Nunc lobortis ullamcorper.',
        buttons: [
          {
            button: {
              url: 'https://welcometruth.com/',
              title: 'Submit a Story',
            }
          }
        ]
      } %}
    {% endif %}
	</div>
{% endblock %}
