{% if in_component_library %}
  {% set contextArticleGrid = '@context-article-grid' %}
  {% set overlayWideImage = '@overlay-wide-image' %}
{% else %}
  {% set contextArticleGrid = 'context-article-grid.twig' %}
  {% set overlayWideImage = 'overlay-wide-image.twig' %}
{% endif %}

{% set mappedPosts = fn('Timber::get_posts', {
  post_type: 'events',
  post_per_page: 3,
})|map(p => {
  post: p,
}) %}

<div class="background-section relative py-24 bg-marble__pattern bg-cover">
  <div class="background-section___decor absolute top-[200px] left-0 bg-white w-1/2 lg:w-[700px] h-[700px]"></div>
  <div class="background-section___inner relative z-10 space-y-24">
    {% include contextArticleGrid with {
      render_api: true,
      api: 'Alumni',
      subheading: news.subheading,
      heading: news.heading,
      paragraph: news.paragraph,
    } %}
    {% include contextArticleGrid with {
      subheading: events.subheading,
      heading: events.heading,
      paragraph: events.paragraph,
      items: mappedPosts,
    } %}
    <div class="max-w-screen-2xl w-full px-5 mx-auto">
      {% include overlayWideImage with {
        size: 'large',
        align: 'center',
        image: cta.image,
        subheading: cta.subheading,
        heading: cta.heading,
        paragraph: cta.paragraph,
        buttons: cta.buttons,
      } %}
    </div>
  </div>
</div>